.theme {
    font-size: 4rem;
    position: absolute;
    top: 4.5vh;
    left: 4.5vw;
}

.filters {
    font-size: 4rem;
    position: absolute;
    top: 25vh;
    left: 4.5vw;

}

.buttonf {
    font-size: 2.2rem;
    position: absolute;
    position: relative;
    top: 10rem;
    left: 3rem;
    z-index: 1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    border-radius: 15px;
    border: unset;
    padding: 1.5rem 2.5rem;
    transition: all 250ms;
}

.buttonf::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    z-index: -1;
    transition: all 250ms;
    background-color: var(--funkySecondary);
}

.buttonf:hover {
    color: var(--funkyTertiary);
}

.buttonf:hover::before {
    width: 100%;
}


.buttont {
    font-size: 2.2rem;
    position: absolute;
    position: relative;
    top: 10rem;
    left: 6rem;
    z-index: 1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    border-radius: 15px;
    border: unset;
    padding: 1.5rem 2.5rem;
    transition: all 250ms;

}

.buttont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    z-index: -1;
    transition: all 250ms;
    background-color: var(--taterTertiary);
}

.buttont:hover {
    color: var(--taterSecondary);
}

.buttont:hover::before {
    width: 100%;
}

.clear {
    font-size: 2.2rem;
    position: absolute;
    top: 30rem;
    left: 4rem;
    z-index: 1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    border-radius: 15px;
    border: unset;
    padding: 1.5rem 2.5rem;
    transition: all 250ms;
}

.clear::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    z-index: -1;
    transition: all 250ms;
    background-color: var(--buttonMain);
}

.clear:hover {
    color: var(--buttonSecondary);
}

.clear:hover::before {
    width: 100%;
}

.v1 {
    font-size: 2.2rem;
    position: absolute;
    top: 38rem;
    left: 4rem;
    z-index: 1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    border-radius: 15px;
    border: unset;
    padding: 1.5rem 2.5rem;
    transition: all 250ms;
}

.v1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    z-index: -1;
    transition: all 250ms;
    background-color: var(--buttonMain);
}

.v1:hover {
    color: var(--buttonSecondary);
}

.v1:hover::before {
    width: 100%;
}

.cheap {
    font-size: 2.2rem;
    position: absolute;
    top: 46rem;
    left: 4rem;
    z-index: 1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    border-radius: 15px;
    border: unset;
    padding: 1.5rem 2.5rem;
    transition: all 250ms;
}

.cheap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    z-index: -1;
    transition: all 250ms;
    background-color: var(--buttonMain);
}

.cheap:hover {
    color: var(--buttonSecondary);
}

.cheap:hover::before {
    width: 100%;
}