.theme {
    font-size: 4rem;
    position: absolute;
    position: relative;
    left: 4.5vw;
}

.filters {
    font-size: 4rem;
    position: absolute;
    position: relative;
    top: 15vh;
    left: 4.5vw;
}

.button {
    font-size: 2.2rem;
    position: absolute;
    z-index: 1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    border-radius: 15px;
    border: unset;
    padding: 1.5rem 2.5rem;
    transition: all 150ms;
    left: -5rem;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    z-index: -1;
    transition: all 150ms;
    background-color: var(--buttonMain);
}

.button:hover {
    color: var(--buttonSecondary);
}

.button:hover::before {
    width: 100%;
}

.button:active{
    transform: scale(.9);
}

#buttonf {
    font-size: 2.2rem;
    position: absolute;
    top: 7rem;
    left: -5rem;
}

#buttonf::before {
    background-color: var(--funkySecondary);
}

#buttonf:hover {
    color: var(--funkyTertiary);
}


#buttont {
    font-size: 2.35rem;
    position: absolute;
    top: 7rem;
    left: 10rem;
}

#buttont::before {
    background-color: var(--taterTertiary);
}

#buttont:hover {
    color: var(--taterSecondary);
}


#clear {
    top: 7rem;
}

#cheap {
    top: 15rem;
}

#v1 {
    top: 23rem;
}

#v15 {
    top: 31rem;
}

#deka {
    top: 39rem;
}

#strap {
    top: 47rem
}