.container {
  display: flex;
  margin: 5vh auto;
  margin-left: 15vw;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85vw;
  /*   background-color: var(--secondary);
 */
}

.card {
  position: relative;
  width: 15%;
  height: 35vh;
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
}

.card::after {
  content: "ADD TO CART";
  padding-top: 1rem;
  padding-left: 1.2rem;
  position: absolute;
  left: 0;
  bottom: -60px;
  background: #00AC7C;
  color: #fff;
  height: 2.3rem;
  width: 95%;
  transition: all 80ms;
  font-weight: 600;
  opacity: 0;
}

.card-title {
  font-size: 2.25rem;
  position: absolute;
  left: 1rem;
  bottom: 1.25rem;
}

.card-description {
  position: absolute;
  font-size: 2rem;
  left: 1rem;
  bottom: -.75rem;
}

.card-img {
  position: absolute;
  top: 1rem;
  width: 90%;
  height: 77%;
}

.card:hover::after {
  bottom: 0;
  opacity: 1;
}

.card:active {
  transform: scale(0.98);
}

.card:active::after {
  content: "Added !";
  color: var(--tertiary);
}






/* .card {
  height: 25vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 5rem;
  position: relative;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-img {
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card-content {
  transform: rotateX(0deg);
  background-color: var(--secondary);
}

.card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}
.card:hover .card-img {
  scale: 0;
}
.card-description {
  margin: 1rem 0 0;
  font-size: 14px;
  line-height: 1.4;
}

.buy{
  margin-top: 4rem;
} */