:root {
    --funkyMain: #a9d6e9;
    --funkySecondary: #096bd3;
    --funkyTertiary: red;

    --taterMain: #d8c3d4;
    --taterSecondary: #9b75c4;
    --taterTertiary: black;

    --main: #a9d6e9;
    --secondary: #096bd3;
    --tertiary: red;

    --buttonMain: #096bd3;
    --buttonSecondary: red;
}